
.contender1 {
    background: lightcoral;
    height: 50vh;
    width: 250px;
}

.contender2 {
    background: lightblue;
    height: 50vh;
    width: 250px;
}

.selectors {
    background: white;
    height: 50vh;
    width: 250px;
}


